body {
    margin: 0 auto;
    height: auto;
    width: 100%;
}


#navbar {
        display:inline-block;
        width:100%;
        position:absolute;
        margin-left:10%;
        margin-top:15px;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    font-size: 25px;
    list-style-type: none;
    color: brown;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}
p {
    font-size: 30px;
}

h2{
    font-size: 50px;
}
.left_side {
        justify-content: start;
    width: 400px;
}

.right_side{
    justify-content: end;
   
} 

h1{
    font-size: 200px;
    margin-left: 500px;
    color:brown;
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}

.left_side2 {
    justify-content: start;
width: 400px;
}

.right_side2{
justify-content: end;

} 

.form {
    font-size: 25px;
    margin: 40px;

 height: 100px;
 border : 2px;
}

h3 {
    font-size: 20px;
}

.form input {
    font-size: 25px;
   

}

.container_form{
    margin: 50px 50px;
    border: 2px solid red;
    width:fit-content;
}